<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>org.helyx.${PRODUCT_NAME:rfc1034identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.3</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>0</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIAppFonts</key>
	<array>
		<string>Lobster.ttf</string>
		<string>Cabin-Bold.ttf</string>
		<string>Cabin-BoldItalic.ttf</string>
		<string>Cabin-Italic.ttf</string>
		<string>Cabin-Medium.ttf</string>
		<string>Cabin-MediumItalic.ttf</string>
		<string>Cabin-Regular.ttf</string>
		<string>Cabin-SemiBold.ttf</string>
		<string>Cabin-SemiBoldItalic.ttf</string>
		<string>Lato-Bla.ttf</string>
		<string>Lato-BlaIta.ttf</string>
		<string>Lato-Bol.ttf</string>
		<string>Lato-BolIta.ttf</string>
		<string>Lato-Hai.ttf</string>
		<string>Lato-HaiIta.ttf</string>
		<string>Lato-Lig.ttf</string>
		<string>Lato-LigIta.ttf</string>
		<string>Lato-Reg.ttf</string>
		<string>Lato-RegIta.ttf</string>
	</array>
	<key>UIMainStoryboardFile</key>
	<string>MainStoryboard~iPhone</string>
	<key>UIMainStoryboardFile~ipad</key>
	<string>MainStoryboard~iPad</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
